@model IEnumerable<GuestResponse>


@{
    ViewData["Title"] = "ListResponses";
}

<h1>ListResponses</h1>

<div>
    <h2>Here is the list of people attending the party</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var guest in Model)
            {
                <tr>
                    <td>@guest.Name</td>
                    <td>@guest.Email</td>
                    <td>@guest.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>