
@{
    ViewData["Title"] = "MyView";
}

<h1>MyView</h1>
<div>
    @ViewBag.Greeting World (from the view)
    <p>
        We're going to have an exciting party.<br />
        (To do: sell it better. Add pictures or something.)

    </p>
    <a asp-action="RsvpForm">Rsvp</a>
</div>